@import url("./style.css");

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.letsTalkBtn{
    margin: 20px 0;
}
 
.letsTalkBtn a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--fa-primary-color);
    color: var(--primary-text);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;   
}

.letsTalkBtn a:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--fa-primary-color);
    border: 2px solid var(--fa-primary-color);
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

form {
    background-color: #fefefe;
    color: #3c3c3c;
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    position: relative;
    box-shadow: 0px 10px 30px 2px #7a08af;
}

form h1 {
    text-align: center;
    font-size: 48px;
}


form .msg {
    margin: 10px;
    color: rgb(13, 184, 13);
}

form .row {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

form .row .input-fields {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: left;
    align-items: center;
}

form .row .input-fields label {
    color: #5e5e5e;
    position: absolute;
    top: 18px;
    left: 10px;
}
form .row .input-fields textarea{
    height: 200px !important;
}

form .row .input-fields textarea,
form .row .input-fields input {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
}

form .row .input-fields textarea:not(:valid)~label,
form .row .input-fields input:not(:valid)~label {
    color: rgb(212, 10, 10);
}

form .row .input-fields textarea:valid~label,
form .row .input-fields input:valid~label {
    color: rgb(3, 206, 3);
}

form .row .input-fields textarea:valid~label,
form .row .input-fields input:valid~label,
form .row .input-fields textarea:focus~label,
form .row .input-fields input:focus~label {
    top: -12px;
    left: 10px;
    font-size: 14px;
    background-color: #fefefe;
    padding: 5px;
    transition: 0.3s ease;
}

form .row button {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fefefe;
    transition: 0.3s all ease;
}

form .addBtn {
    color: #3c3c3c;
    background-color: aliceblue;
    padding: 10px 20px;
    border: 2px solid #3c3c3c;
    border-radius: 5px;
}

form .row button[type="submit"] {
    background-color: rgb(13, 184, 13);
}

form .row button[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid rgb(13, 184, 13);
    color: rgb(13, 184, 13);
}

form .row button[type="reset"] {
    background-color: rgb(212, 10, 10);
}

form .row button[type="reset"]:hover {
    background-color: transparent;
    border: 2px solid rgb(212, 10, 10);
    color: rgb(212, 10, 10);
}