@import url("./style.css");

/* About us & Contact us Styling */

.alertMsg{
    padding: 20px;
    background-color: var(--text-color-one);
    color: var(--primary-text);
    border-radius: 5px;
    margin: 20px 0;
}

.contact-container,
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 92vh;
    background-color: #ccc;
    color: var(--heading-text-color);
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.letsTalkBtn{
    margin: 20px 0;
}
 
.letsTalkBtn a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--fa-primary-color);
    color: var(--primary-text);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;   
}

.letsTalkBtn a:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--fa-primary-color);
    border: 2px solid var(--fa-primary-color);
}

.contactForm {
    background-color: var(--primary-text);
    color: var(--heading-text-color);
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    height: auto;
    position: relative;
    box-shadow: 0px 10px 30px 2px var(--fa-primary-color);
}
.about-container h1{
    margin: 80px 0 0;
}

.about-container h1,
.contactForm h1 {
    text-align: center;
    font-size: 48px;
}

.image-container img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--fa-primary-color);
}

.about-container .text-container{
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: #0d1117;
    color: var(--primary-text);
}

.about-container .text-container ul{
    padding: 10px 40px;
}

.about-container .text-container .brandName>a{
    text-decoration: none;
    color: #d29922;
    background-color: #bb800926;
    border-radius: 2px;
    padding: 2px;
}

.about-container .text-container .brandName>a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.contactForm .msg {
    margin: 10px;
    color: rgb(13, 184, 13);
}

.contactForm .row {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.contactForm .row .input-fields {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: left;
    align-items: center;
}

.contactForm .row .input-fields label {
    color: #5e5e5e;
    position: absolute;
    top: 18px;
    left: 10px;
}

.contactForm .row .input-fields textarea,
.contactForm .row .input-fields input {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
}

.contactForm .row .input-fields textarea:not(:valid)~label,
.contactForm .row .input-fields input:not(:valid)~label {
    color: rgb(212, 10, 10);
}

.contactForm .row .input-fields textarea:valid~label,
.contactForm .row .input-fields input:valid~label {
    color: rgb(3, 206, 3);
}

.contactForm .row .input-fields textarea:valid~label,
.contactForm .row .input-fields input:valid~label,
.contactForm .row .input-fields textarea:focus~label,
.contactForm .row .input-fields input:focus~label {
    top: -12px;
    left: 10px;
    font-size: 14px;
    background-color: #fefefe;
    padding: 5px;
    transition: 0.3s ease;
}

.contactForm .row button {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fefefe;
    transition: 0.3s all ease;
}

.contactForm .addBtn {
    color: #3c3c3c;
    background-color: aliceblue;
    padding: 10px 20px;
    border: 2px solid #3c3c3c;
    border-radius: 5px;
}

.contactForm .row button[type="submit"] {
    background-color: rgb(13, 184, 13);
}

.contactForm .row button[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid rgb(13, 184, 13);
    color: rgb(13, 184, 13);
}

.contactForm .row button[type="reset"] {
    background-color: rgb(212, 10, 10);
}

.contactForm .row button[type="reset"]:hover {
    background-color: transparent;
    border: 2px solid rgb(212, 10, 10);
    color: rgb(212, 10, 10);
}