@import url("./style.css");

/* Media Query */

@media (max-width:940px) {

    body,
    html {
        width: 100%;
        height: fit-content !important;
        overflow-x: hidden !important;
    }

    header .menu-bar {
        display: block;
        cursor: pointer;
        padding: 10px;
        transition: .2s ease-in-out;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 20px;
    }

    header .menu-bar:hover {
        color: var(--fa-primary-color);
    }

    /* #click:checked~ul {
        right: 0%;
    } */

    header nav ul {
        top: 80px;
        right: -100%;
        position: fixed;
        display: block;
        background-color: var(--primary-text);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s all ease-in-out;
    }

    header nav ul li {
        margin: 60px 0 0;
    }

    header nav ul li a {
        font-size: 24px;
    }

    header nav ul li a::before {
        height: 0;
        box-shadow: 0 45px 25px 5px var(--svg-color)
    }

    header nav ul li a:hover::before {
        width: 100%;
    }

    .content .video-content-cont {
        flex-direction: column;
        margin: 20px 0;
        padding: 10px;
    }

    .content .note>h3>span {
        line-height: 60px;
    }

    /* About us & Contact us Styling */
    .about-container {
        height: max-content;
    }

    .home .button {
        display: none;
    }
}

@media (max-width:1120px) {
    footer {
        flex-direction: column;
    }
}

@media (max-width:600px) {

    header {
        position: fixed;
    }

    header nav ul {
        width: 45%;
    }

    header nav ul li {
        margin: 40px 0 0;
    }

    header nav ul li a {
        font-size: 18px;
    }

    main {
        min-height: 90vh;
        height: 100%;
    }

    .home .cont h2 {
        font-size: 72px;
    }

    .home .cont p {
        font-size: 20px;
    }

    .home .cont .button {
        font-size: 12px;
    }

    .content .select-cat>form>select {
        margin: 20px 0;
    }

    .content .content-type {
        flex-direction: column;
        gap: 10px;
    }

    .content .video-container>iframe {
        width: 380px;
    }

    .content .category .video-container {
        border-radius: 10px;
        padding: 0 10px;
        transition: 0.2s ease;
        width: 400px;
    }

    .content .heading-text {
        width: 100%;
        padding: 30px;
    }

    .content .heading-text .otherlang {
        font-size: 79px;
    }

    .content .heading-text h2 {
        font-size: 64px;
    }

    footer .social-links {
        margin: 20px 0;
    }

    footer .social-links>h3 {
        font-size: 16px;
    }

    footer,
    .content .buttons,
    .content .video-content-cont {
        flex-direction: column;
    }

    .about-container,
    .contact-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100vh + 200px);
        color: var(--heading-text-color);
    }
}

@media (max-width:460px) and (orientation: portrait) {

    .home {
        margin-top: 40px;
    }

    .ppop .popup {
        width: 355px;
    }

    .content .video-container>iframe,
    .content .category .video-container {
        width: min-content;
    }

    .content .heading-text .otherlang {
        font-size: 65px;
    }

    .content .heading-text h2 {
        font-size: 55px;
    }


    footer {
        justify-content: space-between;
        align-items: self-start;
        flex-direction: row;
        height: fit-content;
    }

    footer .copyright {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    footer .social-links {
        gap: 5px;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    footer .social-links>h3,
    footer .social-links>a {
        font-size: 16px;
    }

    footer .copyright p:nth-child(2) {
        border-left: none;
        border-top: 2px solid var(--fade-text-color);
    }

    .image-container img {
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width:375px) {

    .ppop .popup {
        width: 300px;
    }

    .content .video-container>iframe {
        width: 280px;
    }

    .content .category .video-container {
        width: 300px;
    }

    .content .heading-text .otherlang {
        font-size: 55px;
    }

    .content .heading-text h2 {
        font-size: 45px;
    }
}