@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins-sans);
    outline: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

html {
    width: 100%;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--primary-text);
}

::-webkit-scrollbar-thumb {
    background: var(--svg-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
}

:root {
    /* Colors-Scheme */
    --fa-primary-color: #7a08af;
    --header-footer-bg: #FFFFFC;
    --common-text-color: #030303;
    --fade-text-color: #afadad;
    --fade-text-color-two: #5e5e5e;
    --fade-border-color: #ccc;
    --heading-text-color: #3c3c3c;
    --primary-text: #fefefe;
    --bg-color: #0d1117;
    --body-bg: #f5f3f3;
    --msg-color-one: #FF1B1C;
    --msg-color-two: #0fec0f;
    --text-color-two: #FF7F11;
    --alert-msg-bright-color: #f9ce34;
    --highlight-color: #d29922;
    --highlight-bg-color: #bb800926;
    --svg-color: #81689D;
    --linear-gradient-color: linear-gradient(60deg, #f9ce34, #ee2a7b, #6228d7);
    --linear-gradient-color2: linear-gradient(60deg, #000000, #ffffffee, #ffffffee, #000000);

    /* Font-Family */
    --poppins-sans: "Poppins", sans-serif;
    --protest-guerrilla-sans: "Protest Guerrilla", sans-serif;
    --raleway-sans: "Raleway", sans-serif;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden !important;
    background-color: var(--body-bg);
}

.ppop {
    display: block;
    position: fixed;
    width: 100%;
    top: 10%;
    right: 0;
    z-index: 1000;
    pointer-events: none;
}

.ppop .popup {
    pointer-events: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--msg-color-one);
    position: absolute;
    right: -400px;
    top: 0px;
    z-index: 1;
    transition: 0.2s all ease-in-out;
}

.ppop .popup .message {
    display: flex;
    font-size: 16px;
    color: var(--header-footer-bg);
}

.ppop .popup .message>i {
    cursor: pointer;
    font-size: 20px;
    height: fit-content;
}

.ppop .popup .message>i:hover {
    transform: scale(1.2);
}

.ppop .popup p {
    color: var(--header-footer-bg);
    font-size: 14px;
    margin: 0;
}

#click {
    display: none;
}

/* header styling */

header {
    display: flex;
    top: 0;
    /* position: fixed; */
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--header-footer-bg);
    padding: 15px 25px;
    z-index: 2;
    box-shadow: 2px 2px 35px var(--svg-color);
}


header .menu-bar {
    font-size: 30px;
    color: var(--fa-primary-color);
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

header nav img {
    width: 100%;
    height: auto;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 20px;
}

header nav ul li a {
    color: var(--svg-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: 0.2s all ease-in-out;
    position: relative;
}

header nav ul li a::before {
    position: absolute;
    content: "";
    top: -23px;
    left: 0;
    width: 0%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--svg-color);
    transition: 0.3s all;
    box-shadow: 0 40px 25px 2px var(--svg-color)
}

header nav ul li a:hover::before {
    width: 100%;
}

header nav ul li a:hover::After {
    width: 0%;
}

header nav ul li a::after {
    position: absolute;
    content: "";
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--svg-color);
    transition: 0.3s all;
}

header nav ul li a:hover {
    color: var(--svg-color);
}

/* index page styling */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    height: auto;
}

.home {
    width: 100%;
    height: max-content;
    text-align: center;
    color: var(--primary-text);
    background-color: var(--svg-color);
}

.home .cont h2 {
    font-size: 110px;
    font-family: var(--protest-guerrilla-sans);
    font-weight: 400;
    font-style: normal;
    margin: 0 0 20px;
}

.home .cont p {
    font-size: 22px;
    font-family: var(--raleway-sans);
    font-weight: 500;
    margin: 0 0 40px;
}

.home .cont .button {
    position: relative;
    text-decoration: none;
    outline: none;
    color: var(--svg-color);
    background-color: var(--header-footer-bg);
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 60px;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .3s ease-out;
}

.home .cont .button:hover::after {
    content: "Check Out Fast";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    top: -8px;
    left: -8px;
    border-radius: 5px;
    background-color: var(--primary-text);
    color: var(--svg-color);
}

.home .cont .button:hover {
    transition: .3s ease-in;
    color: var(--primary-text);
    background-color: transparent;
    border: 2px dashed var(--header-footer-bg);
    cursor: pointer;
}

.home .upper.curved {
    background: var(--body-bg);
    width: 100%;
    height: auto;
}

.home svg {
    display: block;
    outline: none;
}

.content {
    width: 100%;
    height: auto;
    margin: 0 0 50px;
}

.content .content-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.content .content-type>.playlist {
    background-color: var(--fa-primary-color);
    color: var(--body-bg);
}

.content .content-type>.playlist:hover {
    border-color: var(--fa-primary-color);
    color: var(--bg-color);
}

.content .content-type>button {
    background-color: var(--text-color-two);
    padding: 10px;
    border-radius: 10px;
    width: auto;
    outline: none;
    height: max-content;
    border: 2px solid transparent;
    font-family: var(--poppins-sans);
    font-size: 18px;
    font-weight: 500;
}

.content .content-type>button:hover {
    background-color: var(--header-footer-bg);
    border: 2px solid var(--text-color-two);
    cursor: pointer;
}

.content .lineButton {
    border: 2px solid var(--fa-primary-color);
}

.content .cat-button {
    display: none;
    margin: 20px 0;
    text-align: center;
}


.content .buttons {
    color: var(--svg-color);
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.content .buttons .button-group>.btns {
    background-color: var(--svg-color);
    color: var(--header-footer-bg);
    outline: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .2s all ease-out;
}

.content .buttons .button-group>.btns:hover {
    transition: .2s all ease-in;
    background-color: var(--common-text-color);
    color: var(--svg-color);
}

.content .select-cat {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-family: var(--raleway-sans);
    font-weight: 500;
}

.content .single-video {
    display: none;
}

.content .select-cat>form>select {
    width: fit-content;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--svg-color);
    color: var(--primary-text);
    cursor: pointer;
}

.content .alert-msg {
    margin: 20px 0;
}

.content .alert-mesg,
.content .alert-msg span {
    font-weight: 600;
    font-family: var(--poppins-sans);
    background-color: var(--alert-msg-bright-color);
    padding: 5px;
    border-radius: 2px;
    text-shadow: 1px 2px var(--primary-text);
    pointer-events: none;
}

.content .note {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.content .note>h3>span {
    color: var(--msg-color-one);
    background-color: var(--header-footer-bg);
    padding: 5px;
    border: 2px dashed var(--msg-color-one);
}


.content .video-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.content .category {
    background-color: var(--svg-color);
    margin: 0 40px;
    border-radius: 10px;
    width: 100%;
}

.content .video-container {
    max-width: min-content;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-color: var(--header-footer-bg);
    padding: 0 10px;
}

.content .video-container>iframe {
    background-color: var(--common-text-color);
    cursor: pointer;
}

.content .video-container>iframe,
.content .category .video-container {
    border-radius: 10px;
    transition: 0.2s ease;
}

.content .video-container .coming-up-text>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-bg);
    color: var(--common-text-color);
    width: 100%;
    min-height: 100px;
    height: auto;
    padding: 0 100px;
    border-radius: 10px;
    font-family: var(--protest-guerrilla-sans);
}

.content .video-content-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.content .video-category>h2 {
    font-size: 30px;
    text-align: left !important;
    margin: 10px 0;
    text-decoration: underline;
    font-family: var(--protest-guerrilla-sans);
}

.heading-text>h2 {
    color: var(--header-footer-bg);
    font-size: 72px;
    margin: 10px 0;
    text-align: center;
    font-family: var(--protest-guerrilla-sans);
}

.content .video-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content .video-title details {
    position: relative;
    cursor: pointer;
}

.content .video-title details[open] summary {
    background-color: var(--common-text-color);
    color: var(--highlight-color);
}

.content .video-title details summary {
    padding: 0 10px;
    margin-left: 5px;
    list-style: none;
    color: var(--fa-primary-color);
    border: 2px solid var(--fade-border-color);
    border-radius: 7px;
}

.content .video-title details ul {
    position: absolute;
    list-style: none;
    top: -2%;
    right: 100%;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--common-text-color);
}

.content .video-title details ul li a {
    color: var(--highlight-color);
    text-decoration: none;
    padding: 5px;
    transition: .3s linear;
    border-radius: 7px;
}

.content .video-title details ul li a:hover {
    background-color: var(--highlight-bg-color);
}

.content .video-title h3 {
    width: 92%;
}

.content .video-title h3 .credits {
    color: var(--fa-primary-color);
    text-decoration: none;
    transition: .1s all ease-in-out;
}

.content .video-title h3 .credits:hover {
    text-decoration: underline;
    text-shadow: 5px 5px 5px var(--fade-text-color);
}

/* About us & Contact us Styling */

.popupGreen {
    background-color: var(--msg-color-two);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.alertMsg {
    background-color: var(--msg-color-one);
    padding: 20px;
    color: var(--primary-text);
    border-radius: 5px;
    margin: 20px 0;
}

/* .about-container {
    height: auto !important;
} */

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    color: var(--heading-text-color);
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 160px);
    color: var(--heading-text-color);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

.letsTalkBtn {
    margin: 10px 0;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--fa-primary-color);
}

.letsTalkBtn a {
    text-decoration: none;
}

.letsTalks {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--fa-primary-color);
    border-radius: 5px;
    padding: 0.75em 1.5em;
    background: var(--primary-text);
    color: var(--fa-primary-color);
    transform: translateY(-0.44em);
    transition: transform 0.1s ease;
}

.letsTalkBtn:active .letsTalks {
    transform: translateY(0);
}

.letsTalkBtn:checked .letsTalks {
    cursor: pointer;
    transform: translateY(-0.2em);
}

/* .about-container .heading>h1 {
    margin: 80px 0 0;
} */

.about-container h1,
.contactForm h1 {
    text-align: center;
    font-size: 48px;
}

.image-container img:hover {
    filter: brightness(90%);
    box-shadow: 10px 10px 10px var(--fa-primary-color);
}

.image-container img {
    transition: 0.3s all ease-in-out;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-container .text-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--bg-color);
    color: var(--primary-text);
}

.about-container .text-container ul {
    padding: 10px 40px;
}

.about-container .text-container>h3,
.about-container .text-container .brandName>a {
    text-decoration: none;
    width: max-content;
    color: var(--highlight-color);
    background-color: var(--highlight-bg-color);
    border-radius: 2px;
    padding: 2px;
}

.about-container .text-container .brandName>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary-text);
    color: var(--heading-text-color);
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0px 10px 30px 2px var(--fa-primary-color);
}


.contactForm .msg {
    margin: 10px;
    color: var(--msg-color-two);
}

.contactForm .row {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.contactForm .row .input-fields {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: left;
    align-items: center;
}

.contactForm .row .input-fields label {
    color: var(--fade-text-color-two);
    position: absolute;
    top: 18px;
    left: 10px;
}

.contactForm .row .input-fields textarea,
.contactForm .row .input-fields input {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    border: 1px solid var(--fade-border-color);
    outline: none;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
}

.contactForm .row .input-fields textarea:not(:valid)~label,
.contactForm .row .input-fields input:not(:valid)~label {
    color: var(--msg-color-one);
}

.contactForm .row .input-fields textarea:valid~label,
.contactForm .row .input-fields input:valid~label {
    color: var(--msg-color-two);
}

.contactForm .row .input-fields textarea:valid~label,
.contactForm .row .input-fields input:valid~label,
.contactForm .row .input-fields textarea:focus~label,
.contactForm .row .input-fields input:focus~label {
    top: -12px;
    left: 10px;
    font-size: 14px;
    background-color: var(--primary-text);
    padding: 5px;
    transition: 0.3s ease;
}

.contactForm .row button {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--primary-text);
    transition: 0.3s all ease;
}

.contactForm .addBtn {
    color: var(--heading-text-color);
    background-color: var(--header-footer-bg);
    padding: 10px 20px;
    border: 2px solid var(--heading-text-color);
    border-radius: 5px;
}

.contactForm .row button[type="submit"] {
    background-color: var(--msg-color-two);
}

.contactForm .row button[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid var(--msg-color-two);
    color: var(--msg-color-two);
}

.contactForm .row button[type="reset"] {
    background-color: var(--msg-color-one);
}

.contactForm .row button[type="reset"]:hover {
    background-color: transparent;
    border: 2px solid var(--msg-color-one);
    color: var(--msg-color-one);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--header-footer-bg);
    box-shadow: 2px 2px 35px var(--svg-color);
}

footer .social-links>h3 {
    font-size: 18px;
    font-family: var(--poppins-sans);
}

footer .social-links>a {
    text-decoration: none;
    color: var(--common-text-color);
}

footer .social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    transition: .2s all ease-in-out;
}

footer .social-links>.github {
    position: relative;
}

footer .social-links>.github::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -5px;
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-image: var(--linear-gradient-color2);
    box-shadow: 0 -12px 25px 2px var(--common-text-color);
    transition: 0.2s all ease-in-out;
}

footer .social-links>.github:hover::after {
    width: 100%;
}

footer .social-links>.instagram {
    background-image: var(--linear-gradient-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
}

footer .social-links>.instagram::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-image: var(--linear-gradient-color);
    box-shadow: 0 -12px 25px 2px var(--text-color-two);
    transition: 0.2s all ease-in-out;
}

footer .social-links>.instagram:hover::after {
    width: 100%;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    font-size: 18px;
    font-weight: 500;
    color: var(--fade-text-color);
}